@import url("https://fonts.cdnfonts.com/css/bradley-hand-2");

body{
    margin:0;
    padding:0;
}

header{
    height: 15%;
    background-image: url("wood.jpg");
}

header h1{
    color: aliceblue;
    padding-top: 1.5%;
    text-align: center;
    font-family:"Bradley Hand", sans-serif;
    font-size: 50px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  border-style: solid;
  border-color: orangered;
  }
  
nav li {
  float: left;
  }
      
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
      
nav li a:hover {
  background-color: #111;
  }
footer{

  background-color: #333;
  border-color: orangered;
  border-style: solid;
}

.fa-brands fa-brands fa-twitter{
  color:white;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 10px;
}

.fa-youtube{
  color: white;
}

.fa-twitter{
  color: white;

}

.fa-instagram{
  color: white;
}

.fa-facebook{
  color: white;
}
.social-media{
  padding-top: 1%;
  padding-left: 38%;
}

.block{
  display: flex;
  overflow: hidden;
  float: left;
  width:100%;
  overflow: hidden;
}

.block .Frontpageimage{
  width: 50%;
  background-color: #333;
  border: orangered;
  border-style: solid;
}

.frontpageimage img{
    width:38.7%;
    height:95%;
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 1%;
    border-color: orangered;
    border-style: solid;
}

.block .Frontpagetext{
  width:50%;
  background-color: gray;
  border-color: orangered;
  border-style: solid;
}

.products{
  position: relative;
  height: 30%;
  width: 100%;
  display:flex;
  background-image: url("wood.jpg");
  border-color: orangered;
  border-style: solid;
  overflow: hidden;
}

.producttext{
  background-color: #333;
  border-color: orangered;
  border-style: solid;
  font-size: 50px;
  text-align: center;
}

.product1 img{
  margin-top: 5%;
  margin-left: 60%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}


.product2 img{
  margin-top: 5%;
  margin-left: 120%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}

.product3 img{
  margin-top: 5%;
  margin-left: 180%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}

.product3{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product3text{
  position: absolute;
  bottom: 10%;
  left: 200%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.products a{
  text-decoration: none;
  color: aliceblue;
}

.product3text:hover{
  opacity: 1;
}

.product2{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product2text{
  position: absolute;
  bottom: 10%;
  left: 145%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.product2text:hover{
  opacity: 1;
}

.product1{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product1text{
  position: absolute;
  bottom: 10%;
  left: 145%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.product1text:hover{
  opacity: 1;
}
