@import url("https://fonts.cdnfonts.com/css/bradley-hand-2");

body{
    margin:0;
    padding:0;
    color:aliceblue;
}

header{
    height: 15%;
    background-image: url("Other images/wood.jpg");
}

header h1{
    color: aliceblue;
    padding-top: 1.5%;
    text-align: center;
    font-family:"Bradley Hand", sans-serif;
    font-size: 300%;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  border-style: solid;
  border-color: orangered;
  }
  
nav li {
  float: left;
  }
      
nav li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
      
nav li a:hover {
  background-color: #111;
  }
footer{

  background-color: #333;
  border-color: orangered;
  border-style: solid;
}

.fa-youtube{
  padding-left: 0%;
  color: white;
  font-size: 1%;
}

.fa-youtube:hover{
  color:#FF0000;
}

.fa-twitter{
  color: white;
  padding-left: 0%;
  font-size: 1%;
}

.fa-twitter:hover{
  color:#1DA1F2;
}

.fa-instagram{
  padding-left: 0%;
  color: white;
  font-size: 1%;
}

.fa-instagram:hover{
  background-image: linear-gradient(#feda75 , #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.fa-facebook{
  padding-left: 0%;
  color: white;
  font-size: 1%;
}

.fa-facebook:hover{
  color: #3b5998;
}

.social-media{
  padding-top: 1%;
  padding-left: 40%;
  padding-bottom: 1%;
}

.block{
  display: flex;
  overflow: hidden;
  float: left;
  width:100%;
  overflow: hidden;
}

.block .Frontpageimage{
  width: 50%;
  background-color: #333;
  border: orangered;
  border-style: solid;
}

.frontpageimage img{
    width:38.7%;
    height:95%;
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 1%;
    border-color: orangered;
    border-style: solid;
}

.block .Frontpagetext{
  width:50%;
  background-color: gray;
  border-color: orangered;
  border-style: solid;
}

.products{
  position: relative;
  height: 40%;
  width: 100%;
  display:flex;
  background-image: url("Other images/wood.jpg");
  border-color: orangered;
  border-style: solid;
  overflow: auto;
}

.products a{
  text-decoration: none;
  color: aliceblue;
}

.producttext{
  background-color: #333;
  border-color: orangered;
  border-style: solid;
  font-size: 200%;
  text-align: center;
  margin-left: 6%;
  margin-top: 1%;
  width: 25%;
  height: 30%;
}

.product1 img{
  margin-top: 5%;
  margin-left: 0%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}


.product2 img{
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}

.product3 img{
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}

.product4 img{
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 90%;
  width: 90%;
}

.product4{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product4text{
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.product4text:hover{
  opacity: 1;
}

.product2{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product2text{
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}



.product2text:hover{
  opacity: 1;
}



.product1{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product1text{
  position: absolute;
  bottom: 10%;
  left: 22%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.product1text:hover{
  opacity: 1;
}

.product3{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.product3text{
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 50%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.product3text:hover{
  opacity: 1;
}

.Shopmenu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #333;
  border-color: orangered;
  border-style: solid;
}

.Shopmenu li a {
  display: block;
  color: aliceblue;
  padding: 8px 16px;
  width: auto;
  text-decoration: none;
}

.Shopmenu li a:hover {
  background-color: #111;
  color: aliceblue;
}

.shop{
  background-image: url("Other\ images/wood.jpg");
  height: 100%;
}

.shopproducts{
  position: relative;
  height: 30%;
  width: 100%;
  display:flex;
  overflow: auto;
}

.shopproducts a{
  text-decoration: none;
  color: aliceblue;
  width: -1000%;
}

.shopproduct1 img{

  margin-top: 0%;
  margin-left: 120%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 95%;
  width: 95%;
}

.shopproducts1{
  margin-top: -100%;
  float: left;
  position: relative;
  text-align: center;
  color: aliceblue;
}

.shopproduct1text{
  position: absolute;
  bottom: 10%;
  left: 21%;
  width: 6%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.shopproduct1text:hover{
  opacity: 1;
}

.shopproduct2 img{
  margin-top: 0%;
  margin-left: 210%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 95%;
  width: 95%;
}

.shopproducts2{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.shopproduct2text{
  position: absolute;
  bottom: 10%;
  left: 49%;
  width: 6%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.shopproduct2text:hover{
  opacity: 1;
}

.shopproduct4 img{
  margin-top: 0%;
  margin-left: 300%;
  border-radius: 1%;
  border-color: orangered;
  border-style: solid;
  height: 95%;
  width: 95%;
}

.shopproducts4{
  position: relative;
  text-align: center;
  color: aliceblue;
}

.shopproduct4text{
  position: absolute;
  bottom: 10%;
  left: 76%;
  width: 6%;
  background-color: #333;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.shopproduct4text:hover{
  opacity: 1;
}

img{
  color: black;
  background-color: #333;
}

form h1{
  padding: 0;
  margin: 0;
}

form{
  color: aliceblue;
  font-family:"Bradley Hand", sans-serif;
  text-align: center;
  background-color: #333;
  border-color: orangered;
  border-style: solid;
  width: 50%;
  margin-left: 25%;
  
}
.search{
  margin-left: 80%;
  margin-top: -2.5%;
  
}